@font-face {
    font-family: LondrinaShadow;
    src: url("./font/LondrinaShadow-Regular.ttf");
}
@font-face {
    font-family: KayPhoDu;
    src: url("./font/KayPhoDu-Regular.ttf");
}
:root{
    --color: white;
    --color-background: #0D0023;
    --fill-color: #0D0023;
    --text-stroke: 0.1px #1683FF;
}
body{
    margin: 0;
    top:0;
    height: 100%;
    background-color: var(--color-background);
}

#background {
    text-align: center;
    top:0;
    left:0;
    color: var(--color);
    font-family: KayPhoDu;
    color: #FFF;
}
#background h1 {
    top: 0;
    margin: 0;
    left: 0;
    color: #00BBFF;
    font-size: 15rem;
    -webkit-text-fill-color: var(--fill-color);
    -webkit-text-stroke: var(--text-stroke);
    font-family: LondrinaShadow;
}
#background h2 {
    font-size: 5rem;

    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #1683FF;
}
#background h3 {
    border-top: 0.1rem white solid;
    border-left: 20%;
    font-size: 3rem;

    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    -webkit-text-stroke-width: 0.0001px;
    -webkit-text-stroke-color: #dd0808;
}
#secondHeadline {
    margin-bottom: 3rem;
}

#thirdHeadline{
    margin-left: 25vw;
    margin-right: 25vw;
}

#areaButtons {
    margin-top: 15vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgba(98, 1, 235, 0.90);
    border: 20px  solid rgba(90, 1, 235, 0.90);
    border-radius: 2vw;
}

#buttons{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 10vw;
     
}

.button{
    font-size: 3rem;
    font-weight: bold;
    border: 0px solid var(--color-background);
    background-color: var(--color-background);
    border-radius: 2vw;  
    width: 30vw;
    padding: 1vw;

}

.button:hover{
    background-color: #00BBFF;
    cursor: pointer;
    font-size: 3.5rem
}
